
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');





body {
    
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background: url("images/background2.jpg")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  
}

.game-title {
    color: #fff;
}

.scoreBoard{
    background: #000;
}

.game-board {
    height: 500px;
    width: 500px;
    display: grid;
    margin: 50px auto;
    vertical-align: center;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);

}

div>div {
    padding: 10px;
    background-color: #171a3e;
    opacity: 0.9;
}

.box.blue{
    -webkit-transform: scale(.5.1);
    -ms-transform: scale(.5.1);
    transform: scale(.5.1);
    background-color: #4666FF;
} 

.box:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.box.red{
    -webkit-transform: scale(.5.1);
    -ms-transform: scale(.5.1);
    transform: scale(.5.1);
    background-color: #ff0dbf;
}

.restartButton{
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid ;
    border-color: #fff;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;
    font-family: 'Press Start 2P', cursive;  
}

.restartButton:hover{
    background-color: #4666FF;
    color: #ff0dbf;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.2;
}



.blueScore{
    color: #4666FF;
    background: #fff;
    height:50px;
    width: 50px;
    display: inline;


   
}

.redScore{
    color: #ff0dbf;
    background: #fff;
    display: inline;
    height:50px;
    width: 50px;


}

.drawScore{
    color: #090617;
    background: #fff;
    display: inline;
    height:50px;
    width: 50px;
}