
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



body {
    background: #000;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.game-title {
    color: #fff;
}

.game-board {
    height: 500px;
    width: 500px;
    display: grid;
    margin: 50px auto;
    vertical-align: center;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);

}

div>div {
    padding: 10px;
    background-color: #fff;
}

.box.blue{
    -webkit-transform: scale(.5.1);
    -ms-transform: scale(.5.1);
    transform: scale(.5.1);
    background-color: #191970;
} 

.box.red{
    -webkit-transform: scale(.5.1);
    -ms-transform: scale(.5.1);
    transform: scale(.5.1);
    background-color: #cd5c5c;
}